<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="/js/client.mjs" type="module"></script>
<link rel="stylesheet" href="/css/reset.css" />
<link rel="stylesheet" href="/css/colors.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/game-board.css" />
<link rel="stylesheet" href="/css/game-pieces.css" />

<title>Dog House | <%= pageTitle %></title>
