<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/createGame'); %>
    <section class="game-board"></section>

    <%- include('../partials/gameChat'); %>
    <%- include('../partials/footer'); %>

      <!-- Game info & setup -->
    </div>
  </body>
</html>
